extends layout

block content
  include navbar
  div(class="row")
    div(class="col-sm")
      div(class="selection-menu")
        each item in items
          a(href="#")= item.Upc + " : " + item.Name + " : " + item.Description

