extends layout

block content
  include navbar
  div(class="row")
    div(class="col-sm")
      table(class="table")
        thead
          tr
            th(scope="col") UPC
            th(scope="col") Name
            th(scope="col") Description
            th(scope="col") Quantity
            th(scope="col") Actions
        tbody
          each item in items
            tr
                th(scope="row")=item.UPC
                td=item.Name
                td=item.Description
                td=item.Quantity
                td
                  button(type="button" class="btn btn-primary upc-" + item.UPC  data-toggle="modal" data-target="#quantityModal" onclick="updateQuantity(" + binID + ", " + item.UPC + ")") Change Quantity
                  button(type="button" class="btn btn-primary " data-toggle="modal" data-target="#itemRemoveModal" onclick="removeItem(" + binID + "," + item.UPC + ")") Remove Item
  script(src="/js/bins.min.js")


