nav(class="navbar navbar-expand-sm bg-dark navbar-dark static-top")
  a(class="navbar-brand" href="#") InvMang
  button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false")
    span(class="navbar-toggler-icon")
  div(class="navbar-collapse collapse" id="navbar")
    ul(class="navbar-nav mr-auto")
    form(class="form-inline" role="search")
        input(class="form-control mr-sm-2" type="search" placeholder="Search")